$colors: (
  bg-color: #121212, // Background color
  neon-green: #00FF88, // Buttons, links and highlights
  dark-green: #007F5F, // Secondary buttons, headers.
  mint-green: #B8F2E6, // Hover and subtle highlights
  slate-gray: #2A2D34, // Content boxes
  cool-blue: #5BC0EB, // Highlighting
)